  .imagem1 {  
   max-width: 100%;
    height:auto;
    text-align: center;
   
}

.body {
       margin: 0;
       padding: 0 ;
   
}

.imagem2 {
   text-align: center;
   background-position: center;
   background-size: cover; 
}



.table {
   display: flex;
   justify-content: center; /* Centraliza horizontalmente */
   align-items: center; /* Centraliza verticalmente */
   height: 10vh; /* Altura do contêiner pai */
}

.phrase1 {

    font-family: sans-serif;
    font-size: 100px;
}


body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 0;
   padding: 0;
   background-color: #f3f3f3;
   font-family: Arial, sans-serif;
   text-align: center;
   background-image: url(img/financeBackGround.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   color: #fff;
}
   

#titulo {
   font-size: 50px;  
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: azure;
   background-color:darkcyan;
   display:inline-block;
   border-radius: 25px;
    /* Adiciona esta linha para espaçamento */
}
   
/* Estilo para a tabela */
table {
   width: 100%;
   border-collapse: collapse;
   margin:50px

}

/* Estilo para as células do cabeçalho */
th {
   background-color: #4CAF50; /* Cor de fundo do cabeçalho */
   color: white; /* Cor do texto do cabeçalho */
   padding: 10px; /* Espaçamento interno das células do cabeçalho */
   border: 1px solid #ddd; /* Borda das células do cabeçalho */
}

/* Estilo para as células do corpo da tabela */
td {
   background-color: #f2f2f2; /* Cor de fundo das células */
   color: black; /* Cor do texto das células */
   padding: 10px; /* Espaçamento interno das células */
   border: 1px solid #ddd; /* Borda das células */

}

/* Estilo para as linhas da tabela */
tr:nth-child(even) {
   background-color: #f9f9f9; /* Cor de fundo das linhas pares */
}

tr:hover {
   background-color: #ddd; /* Cor de fundo ao passar o mouse */
}          


button {
   background-color: #4CAF50; /* Cor de fundo do botão */
   color: white; /* Cor do texto do botão */
   padding: 10px; /* Espaçamento interno do botão */
   border: none; /* Remove a borda do botão */
   cursor: pointer; /* Adiciona o cursor de mão ao passar o mouse */
   border-radius: 10px; /* Adiciona bordas arredondadas ao botão */
   border: 5px solid #141514; /* Adiciona uma borda ao botão */
}  

#title2 {
   font-size: 75px;  
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: azure;
   border-radius: 45px;
   font-weight: bold;
   margin-left: 150px;
   /* Adiciona esta linha para espaçamento */
}  

   
.btc-container img {
 /* Adiciona uma borda ao botão */
   margin: 10px;
   padding: 10px;
   width: 500px;
   height: 500px;

}

.btc-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: cadetblue;
   width: 750px;
   height: 600px;
   border-radius: 50px;
   align-content: center;
   padding-right:200px;
   border: 15px solid;

}
